extends ../shared/delta-layout.pug

block delta-component
    p.index-style Enjoy this homepage of mysterious test content
    a(href="/other" data-navigo) Other
    a(href="/another" data-navigo) Another
    div#rand-container
