extends ../shared/delta-layout.pug

block delta-component
    p.other-style And now you've made it to the world of the other
    a(href="/index" data-navigo) Home
    a(href="/another" data-navigo) Another
